@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "SalaryPaymentReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



@using (Html.BeginForm("SalaryPaymentReport", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Salary Payment Report</a></li>
            </ol>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-lg-flex justify-content-between">
                        <h4 class="card-title">Salary Payment Report</h4>
                        @*<p style="color: #ff0000">
                                @TempData["EmpSalary"]
                            </p>
                            <p style="color: red">
                                @TempData["ErrEmpSalary"]
                            </p>*@
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>Employee Code</h5></label>
                                @Html.TextBoxFor(m => m.EmployeeCode, new { @class = "form-control", @Placeholder = "Employee Code" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>Employee Name</h5></label>
                                @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", @Placeholder = "Employee Name" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>From Date</h5></label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>To Date</h5></label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date" })
                            </div>
                            <div class="col-md-3 mb-3">
                                <input type="submit" class="btn btn-primary d-block" id="Search" name="Search" value="Search" />
                            </div>
                        </div>

                    </div>

                    @if (Model != null)
                    {
                        if (Model.lstList != null)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box_body p-4">
                                        <div class="table-responsive">
                                                <table class="table display" id="example">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>Employee Code</th>
                                                            <th>Employee Name</th>
                                                            <th>Payment Date</th>
                                                            <th>Total Salary</th>
                                                            <th>Paid Amount</th>
                                                            <th>Balance Amount</th>
                                                            <th>Payment Mode</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.lstList != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var item in Model.lstList)
                                                                {
                                                                    <tr>
                                                                        <td>@i </td>
                                                                        <td>@item.EmployeeCode</td>
                                                                        <td>@item.EmployeeName</td>
                                                                        <td>@item.PaymentDate</td>
                                                                        <td>@item.NetSalary</td>
                                                                        <td>@item.PaidAmount</td>
                                                                        <td>@item.Balance</td>
                                                                        <td>@item.PaymentMode</td>

                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>

}

<script src="~/assets/js/jquery1-3.4.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        maxDate: 0
        //yearRange: '1950:2029'
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        maxDate: 0
        //yearRange: '1950:2029'
    });


    function GetDesignation() {

        var value = $('#DepartmentID').val();
        var values = $('#DesignationID').val();
        var tr = [];
        $.ajax({
            url: "/AdminReports/GetDesignation",
            Type: "Get",
            DataType: "JSON",
            data: { DepartmentID: value },
            success: function (data) {

                var j = 1;
                if (data.Result == "yes") {

                    $("#DesignationID").html(""); // clear before appending new list
                    $("#DesignationID").empty();
                    $("#DesignationID").append(
                          $('<option></option>').val(0).html('Select Designation'));
                    $.each(data.ddlDesignation, function (index, Sectorcount) {
                        $("#DesignationID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });
                }
                else {
                    $("#DesignationID").empty();

                }
            }

        });

    }
</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
