@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "LeaveApprovalReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("LeaveApprovalReport", "EmployeeLeave", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="page-header">
            <div>
                <h1 class="page-title">Reports</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/AdminDashBoard">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Reports</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Leave Approval Report</li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    @*<div class="card-header d-lg-flex justify-content-between">
                        <h4 class="card-title">Leave Approval Report</h4>
                        <p style="color: #ff0000">
                                @TempData["EmpSalary"]
                            </p>
                            <p style="color: red">
                                @TempData["ErrEmpSalary"]
                            </p>
                    </div>*@

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>Employee Name </h5></label>
                                @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", @Placeholder = "Employee Name" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>Employee Code </h5></label>
                                @Html.TextBoxFor(m => m.EmployeeCode, new { @class = "form-control", @Placeholder = "Employee Code" })
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label d-lg-block d-none mb-lg-3"><h5>&nbsp;</h5></label>
                                <input type="submit" name="Search" id="Search" value="Search" class="btn btn-success d-block"/>
                            </div>
                        </div>

                        <div class="box_body p-4">
                            <div class="table-responsive">
                                <table class="table display table display table-bordered table-hover" id="data-table">
                                    <thead>
                                        <tr>
                                            <th>SNo.</th>
                                            <th>Employee Name</th>
                                            <th>Employee Code</th>
                                            <th>Leave Name</th>
                                            <th>Applied For Days</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>Status</th>
                                            <th>Reason For Leave</th>
                                            @*<th>Remark</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstList != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstList)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td>@Item.EmployeeName</td>
                                                        <td>@Item.EmployeeCode</td>
                                                        <td>@Item.LeaveName</td>
                                                        <td>@Item.UsedLeave</td>
                                                        <td>@Item.FromDate</td>
                                                        <td>@Item.ToDate</td>
                                                        <td>@Item.Status</td>
                                                        <td>@Item.Remark</td>

                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

    
    <input type="hidden" id="txtremark" />
    <input type="hidden" id="txtdays" />
}

