@model AfluexHRMS.Models.Employee

@{
    ViewBag.Title = "EmployeeWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EmployeeWork", "Employee", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="page-header">
            <div>
                <h1 class="page-title">DataList In Hindi</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Reports</a></li>
                    <li class="breadcrumb-item active" aria-current="page">List</li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    
                    @if (Model != null)
                    {
                        if (Model.lstList != null)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box_body p-4">
                                        <div class="table-responsive">
                                            <table class="table display table display table-bordered table-hover" id="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.No</th>
                                                        <th>Number</th>
                                                        <th>id</th>
                                                        <th>name</th>
                                                        <th>father</th>
                                                        <th>age</th>
                                                        <th>gender</th>
                                                        <th>polling station</th>
                                                        <th>station address</th>
                                                        <th>kinType</th>
                                                        <th>year</th>
                                                        <th>date1</th>
                                                        <th>date2</th>
                                                        <th>add1</th>
                                                        <th>add2</th>
                                                        <th>postcode</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null)
                                                    {
                                                        if (Model.lstList != null)
                                                        {
                                                            int i = 1;
                                                            foreach (var item in Model.lstList)
                                                            {
                                                                <tr>
                                                                    <td>@i </td>
                                                                    <td>@item.number</td>
                                                                    <td>@item.id</td>
                                                                    <td>@item.name</td>
                                                                    <td>@item.father</td>
                                                                    <td>@item.age</td>
                                                                    <td>@item.gender</td>
                                                                    <td>@item.pollingstation</td>
                                                                    <td>@item.stationaddress</td>
                                                                    <td>@item.kinType</td>
                                                                    <td>@item.year</td>
                                                                    <td>@item.date1</td>
                                                                    <td>@item.date2</td>
                                                                    <td>@item.add1</td>
                                                                    <td>@item.add2</td>
                                                                    <td>@item.postcode</td>
                                                                </tr>
                                                                i++;
                                                            }
                                                        }
                                                    }
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
        </div>
    </div>

}


