@model AfluexHRMS.Models.EmployeeLogin

@{
    ViewBag.Title = "EmployeeDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EmployeeDashboard", "EmployeeLogin", FormMethod.Post, new { @id = "Profile", @enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="page-header">
            <div>
                <h1 class="page-title">Employee Dashboard </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/AdminDashBoard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employee Dashboard </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="clearfix">
                    <div class="card shadow">
                        <div class="card-body">


                            <img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="https://static.vecteezy.com/system/resources/thumbnails/000/439/863/small/Basic_Ui__28186_29.jpg" alt="User profile picture">

                            @*<img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="@Model.ProfilePic" alt="User profile picture">*@


                            @*<h3 class="profile-username text-center">@Model.EmployeeName (@Model.EmployeeCode)</h3>

                <p class="text-muted text-center">@Model.CompanyName</p>

                <p class="text-muted text-center">Designation :  @Model.DesignationName  </p>

                <p class="text-muted text-center">Department : @Model.DepartmentName  </p>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="clearfix">
                    <div class="card shadow">
                        <div class="card-header d-lg-flex justify-content-between">
                            <h4 class="card-title">Quick Email</h4>
                            <p style="color: #ff0000">
                                @TempData["SendEmailSuccess"]
                            </p>
                            <p style="color: red">
                                @TempData["SendEmailError"]
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    @*<label class="form-label" for="inputEmail4"><h5>Salary Date<span class="text-danger">*</span></h5></label>*@
                                    @*@Html.TextBoxFor(m => m.emailto, new { @class = "form-control", @Placeholder = "Salary Date", @onchange = "hidedata();" })*@
                                    <input type="email" class="form-control" id="emailto" name="emailto" placeholder="Email to:">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    @*<label class="form-label" for="inputEmail4"><h5>Employee Code</h5></label>*@
                                    @*@Html.TextBoxFor(m => m.subject, new { @class = "form-control", @Placeholder = "Employee Code" })*@
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <textarea class="textarea" id="Message" name="Message" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #b6b6b6; padding: 10px;"></textarea>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-3 mt-3">
                                    <input type="submit" value="Send" class="btn btn-success" id="sendEmail" name="sendEmail" onclick="return ValidateForm()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function ValidateForm() {
        debugger;

        $('#divload').css({ 'display': 'none' });
        $(".errortext").removeClass('errortext');

        if ($("#emailto").val() == "") {
            $("#emailto").addClass('errortext');
            $("#emailto").focus();
            return false;
        }
        if ($("#subject").val() == "") {
            $("#subject").addClass('errortext');
            $("#subject").focus();
            return false;
        }
        if ($("#Message").val() == "") {
            $("#Message").addClass('errortext');
            $("#Message").focus();
            return false;
        }
    }
</script>

<style>
    .errortext{
        border:1px solid red !important;
        background-color:#fbc3c3;
    }
</style>