@model AfluexHRMS.Models.EmployeeLogin

@{
    ViewBag.Title = "LeaveApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LeaveApplication", "EmployeeLogin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @autocomplete="off" }))
{
    <div class="main_content_iner">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Leave</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Apply Leave</a></li>
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-lg-flex justify-content-between">
                            <h4 class="card-title">Leave</h4>
                            <p style="color: #ff0000">
                                @TempData["EmployeeLeaveApp"]
                            </p>
                        </div>
                        

                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <div class="QA_table mb_30">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>Leave Name</th>
                                                        <th>Limit</th>
                                                        <th>Used</th>
                                                        <th>Remaining</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null)
                                                    {
                                                        if (Model.lstList != null)
                                                        {
                                                            int i = 1;
                                                            foreach (var Item in Model.lstList)
                                                            {
                                                                <tr class="text-left">
                                                                    <td>@i</td>
                                                                    <td>@Item.LeaveName</td>
                                                                    <td>@Item.LeaveLimit</td>
                                                                    <td> @Item.UsedLeave</td>
                                                                    <td>@Item.RemainingLeave</td>
                                                                </tr>
                                                                i++;
                                                            }

                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label class="form-label" for="inputEmail4"><h5>Leave Type </h5></label>
                                    @Html.DropDownListFor(m => m.LeaveID, new SelectList(ViewBag.ddlLeave, "Value", "Text"), new { @class = "form-control default-select" })
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label class="form-label" for="inputEmail4"><h5>Remark </h5></label>
                                    @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", @Placeholder = "Remark" })
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label class="form-label" for="inputEmail4"><h5>From Date   </h5></label>
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "FromDate", @readonly = "readonly" })
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label class="form-label" for="inputEmail4"><h5>To Date   </h5></label>
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "ToDate", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.EmployeeID)

                                </div>

                                <div class="col-md-3 mt-3">
                                    <input type="submit" name="Save" id="Save" value="Save" class="btn btn-success" onclick="return ValidateForm();" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
}




<script src="~/assets/js/jquery1-3.4.1.min.js"></script>
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });


</script>