@model AfluexHRMS.Models.EmployeeLogin

@{
    ViewBag.Title = "LeaveReportForEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LeaveReportForEmployee", "EmployeeLogin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="page-header">
            <div>
                <h1 class="page-title">Apply Details</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/EmployeeLogin/EmployeeDashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Leave</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Leave Report For Employee</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    @*<div class="card-header d-lg-flex justify-content-between">
                        <h4 class="card-title">Leave Details</h4>
                        <p style="color: #ff0000">
                            @TempData["EmployeeLeaveApp"]
                        </p>
                    </div>*@

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>Leave Type </h5></label>
                                @Html.DropDownListFor(m => m.LeaveID, new SelectList(ViewBag.ddlLeave, "Value", "Text"), new { @class = "form-control  form-select default-select" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>Status </h5></label>
                                @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.RequestStatus, "Value", "Text"), new { @class = "form-control  form-select default-select" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>From Date   </h5></label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "FromDate", @readonly = "readonly" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>To Date   </h5></label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "ToDate", @readonly = "readonly" })
                                @Html.HiddenFor(m => m.EmployeeID)

                            </div>

                            <div class="col-md-3 mt-3">
                                <input type="submit" name="Search" id="Search" value="Search" class="btn btn-success" onclick="return ValidateForm();" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box_body p-4">
                                <div class="table-responsive">
                                    <div class="QA_table mb_30">
                                        <table class="table table-hover table-bordered" id="data-table">
                                            <thead>
                                                <tr>
                                                    <th>SNo.</th>
                                                    <th>Leave Type</th>
                                                    <th>From Date-To Date</th>
                                                    <th>Status</th>
                                                    <th>Approved/Rejected By</th>
                                                    <th>Approved/Rejected Remark</th>
                                                    <th>Approved/Rejected Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.lstList != null)
                                                    {
                                                        int i = 1;
                                                        foreach (var Item in Model.lstList)
                                                        {
                                                            <tr class="text-left">
                                                                <td>@i</td>
                                                                <td>@Item.LeaveName</td>
                                                                <td>@Item.FromDate - @Item.ToDate</td>
                                                                <td>@Item.Status</td>
                                                                <td>@Item.ApprovedBy</td>
                                                                <td>@Item.Remark</td>
                                                                <td>@Item.ApprovedDate</td>
                                                            </tr>
                                                            i++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script src="~/assets/js/jquery1-3.4.1.min.js"></script>
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });


</script>