@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "SalaryPaymentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("SalaryPaymentReport", "EmployeeLogin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Salary</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Salary Payment Report</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-lg-flex justify-content-between">
                        <h4 class="card-title">Salary Payment Report</h4>
                        <p style="color: #ff0000">
                            @*@TempData["Salary"]*@
                        </p>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>From Date</h5></label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>To Date</h5></label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date" })
                            </div>


                            <div class="col-md-3 mt-4">
                                <input type="submit" class="btn btn-primary" id="Search" name="Search" value="Search" style="margin-top:20px" />
                            </div>
                        </div>
                    </div>


                    @if (Model != null)
                    {
                        if (Model.lstList != null)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box_body p-4">
                                        <div class="table-responsive">
                                            <div class="QA_table mb_30">
                                                <table class="table display" id="example">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>Payment Date</th>
                                                            <th>Total Salary</th>
                                                            <th>Paid Amount</th>
                                                            <th>Balance Amount</th>
                                                            <th>Payment Mode</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.lstList != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var item in Model.lstList)
                                                                {
                                                                    <tr>
                                                                        <td>@i </td>
                                                                        <td>@item.PaymentDate</td>
                                                                        <td>@item.NetSalary</td>
                                                                        <td>@item.PaidAmount</td>
                                                                        <td>@item.Balance</td>
                                                                        <td>@item.PaymentMode</td>
                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}


<script src="~/assets/js/jquery1-3.4.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        maxDate: 0
        //yearRange: '1950:2029'
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        maxDate: 0
        //yearRange: '1950:2029'
    });



</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>






