@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "EditEmployeeBasicInfo";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("EditEmployeeBasicInfo", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Employee Details</a></li>
            </ol>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-lg-flex justify-content-between">
                        <h4 class="card-title">Employee Details</h4>
                        <p style="color: #ff0000">
                            @TempData["Emp"]
                        </p>
                        <p style="color: red">
                            @TempData["ErrEmp"]
                        </p>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label"><h5>Employee Code</h5></label>
                                @Html.TextBoxFor(m => m.EmployeeCode, new { @class = "form-control", @Placeholder = "Employee Code" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label"><h5>Employee Name</h5></label>
                                @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", @Placeholder = "Employee Name" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label"><h5>Company Name</h5></label>
                                @Html.DropDownListFor(m => m.CompanyID, new SelectList(ViewBag.ddlCompany, "Value", "Text"), new { @class = "form-control default-select wide" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label"><h5>Department Name</h5></label>
                                @Html.DropDownListFor(m => m.DepartmentID, new SelectList(ViewBag.ddlDepartment, "Value", "Text"), new { @class = "form-control default-select wide", @onchange = "return GetDesignation();" })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label"><h5>Designation Name</h5></label>
                                @Html.DropDownListFor(m => m.DesignationID, new SelectList(ViewBag.ddlDesignation, "Value", "Text"), new { @class = "form-control default-select wide" })
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label d-lg-block d-none mb-lg-3"><h5>&nbsp;</h5></label>
                                <input type="submit" class="btn btn-info d-block" id="Search" name="Search" value="Search" />
                            </div>
                        </div>

                        <div class="box_body p-4">
                            <div class="table-responsive">
                                    <table class="table display" id="example">
                                        <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Employee Code</th>
                                                <th style="min-width:150px">Employee Name</th>
                                                <th>Password</th>
                                                <th style="min-width:200px">CompanyName</th>
                                                <th>DepartmentName</th>
                                                <th>DesignationName</th>
                                                <th>Gender</th>
                                                <th>DateOfJoining</th>
                                                <th>Contact</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstList != null)
                                                {
                                                    int i = 1;
                                                    foreach (var item in Model.lstList)
                                                    {
                                                        <tr>
                                                            <td>@i </td>
                                                            <td>@item.EmployeeCode</td>
                                                            <td>@item.EmployeeName</td>
                                                            <td>@item.Password</td>
                                                            <td>@item.CompanyName</td>
                                                            <td>@item.DepartmentName</td>
                                                            <td>@item.DesignationName</td>
                                                            <td>@item.Gender</td>
                                                            <td>@item.DateOfJoining</td>
                                                            <td>@item.Contact</td>
                                                            <td style="min-width:260px">
                                                                <a href="/Master/EmployeeBasicDetails?EmployeeID=@item.EmployeeID&Ac=Edit" class="btn btn-primary btn-sm">Edit</a>
                                                                <a href="/Master/DeleteEmployee?id=@item.EmployeeID" class="btn btn-danger btn-sm" onclick="return confirm('Are you want to delete?;')">Delete</a>
                                                                <a href="/Master/EmployeeSalaryList?id=@item.EmployeeID" class="btn btn-primary btn-sm">Update Salary</a>
                                                            </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

<script>
    function GetDesignation() {

        var value = $('#DepartmentID').val();
        var values = $('#DesignationID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetDesignation",
            Type: "Get",
            DataType: "JSON",
            data: { DepartmentID: value },
            success: function (data) {

                var j = 1;
                if (data.Result == "yes") {

                    $("#DesignationID").html(""); // clear before appending new list
                    $("#DesignationID").empty();
                    $("#DesignationID").append(
                          $('<option></option>').val(0).html('Select Designation'));
                    $.each(data.ddlDesignation, function (index, Sectorcount) {
                        $("#DesignationID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });
                }
                else {
                    $("#DesignationID").empty();

                }
            }

        });

    }
</script>