@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "EmployeeSalary";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("EmployeeSalary", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data",@autocomplete="off" }))
{
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Employee Salary</a></li>
            </ol>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-lg-flex justify-content-between">
                        <h4 class="card-title">Search Employee</h4>
                        <p style="color: #ff0000">
                            @TempData["EmpSal"]
                        </p>
                        <p style="color: red">
                            @TempData["ErrEmpSal"]
                        </p>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label"><h5>Employee Code</h5></label>
                                @Html.TextBoxFor(m => m.EmployeeCode, new { @class = "form-control", @Placeholder = "Employee Code " })
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="form-label"><h5>Employee Name </h5></label>
                                @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", @Placeholder = "Employee Name" })
                                @Html.HiddenFor(m => m.EmployeeID)
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label d-lg-block d-none mb-lg-3"><h5>&nbsp;</h5></label>
                                <input type="submit" name="Search" id="Search" value="Search" class="btn btn-primary d-block" onclick="return validateform();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.EmployeeName != null)
                {
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-lg-flex justify-content-between">
                                        <h4 class="card-title">Employee Salary</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <b>Employee Name:</b>
                                                @Html.DisplayFor(m => m.EmployeeName)
                                            </div>

                                            <div class="col-md-3">
                                                <b>Employee Code:</b>
                                                @Html.DisplayFor(m => m.EmployeeCode)
                                            </div>

                                            <div class="col-md-3">
                                                <b>Father Name:</b>
                                                @Html.DisplayFor(m => m.FatherName)
                                            </div>

                                            <div class="col-md-3">
                                                <b>Contact:</b>
                                                @Html.DisplayFor(m => m.Contact)
                                                <input type="hidden" value="@Model.EmployeeID" id="EmployeeID" name="EmployeeID1" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="shadow p-3 mb-3 bg-white rounded">
                                                    <div class="card_header">
                                                        <div class="box_header m-0">
                                                            <div class="main-title">
                                                                <h3 class="m-0">Earning</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="box_body p-2">

                                                        <div class="QA_table mb_30">

                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Code</th>
                                                                        <th>Name</th>
                                                                        <th>IsAmt/Per</th>
                                                                        <th>Value</th>
                                                                        <th>Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Model != null)
                                                                    {
                                                                        if (Model.lstList != null)
                                                                        {
                                                                            int i = 1;
                                                                            foreach (var Item in Model.lstList)
                                                                            {
                                                                                <tr class="text-left">

                                                                                    <td>@Item.SalaryHeadCode</td>
                                                                                    <td>@Item.SalaryHeadName</td>

                                                                                    <td>@Item.IsAmtPer</td>
                                                                                    <td><input type="text" class="form-control" id="txtEarVal @i" name="txtEarVal @i" onchange="getdata1(this,'@Item.IsAmtPer','@i')" /></td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control" id="txtEarAmt @i" name="txtEarAmt @i" onchange="getdata2(this)" readonly="readonly" />

                                                                                        <input type='hidden' value='@Item.SalaryHeadID' id='ESalHeadId_ @i' name='ESalHeadId_ @i'>
                                                                                        @*   <input type='hidden' value='@Item.SalaryAmount' id='ESalAmt_ @i' name='ESalAmt_ @i'>*@

                                                                                    </td>
                                                                                </tr>
                                                                                i++;
                                                                            }
                                                                            <input type='hidden' value='@i' id='hdrows' name='hdrows' />
                                                                        }
                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <th colspan="3"></th>
                                                                        <th colspan="2">Total <input type="text" id="txtTotalEarning" class="form-control" disabled="disabled" /></th>

                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="shadow p-3 mb-3 bg-white rounded">
                                                    <div class="card_header">
                                                        <div class="box_header m-0">
                                                            <div class="main-title">
                                                                <h3 class="m-0">Deduction</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="box_body p-2">

                                                        <div class="QA_table mb_30">

                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Code</th>
                                                                        <th>Name</th>
                                                                        <th>IsAmt/Per</th>
                                                                        <th>Value</th>
                                                                        <th>Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Model != null)
                                                                    {
                                                                        if (Model.lstList1 != null)
                                                                        {
                                                                            int j = 1;
                                                                            foreach (var Item1 in Model.lstList1)
                                                                            {
                                                                                <tr class="text-left">

                                                                                    <td>@Item1.SalaryHeadCode</td>
                                                                                    <td>@Item1.SalaryHeadName</td>

                                                                                    <td>@Item1.IsAmtPer</td>
                                                                                    <td><input type="text" class="form-control" id="txtDedVal @j" name="txtDedVal @j" onchange="getdata3(this,'@Item1.IsAmtPer','@j')" /></td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control" id="txtDedAmt @j" name="txtDedAmt @j" onchange="getdata4(this)" readonly="readonly" />

                                                                                        <input type='hidden' value='@Item1.SalaryHeadID' id='DSalHeadId_ @j' name='DSalHeadId_ @j'>
                                                                                        <input type='hidden' value='@Item1.SalaryAmount' id='DSalAmt_ @j' name='DSalAmt_ @j'>

                                                                                    </td>
                                                                                </tr>
                                                                                j++;
                                                                            }
                                                                            <input type='hidden' value='@j' id='hdrows1' name='hdrows1' />


                                                                        }
                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <th colspan="3"></th>
                                                                        <th colspan="2">Total <input type="text" id="txtTotalDeduction" class="form-control" disabled="disabled" /></th>

                                                                    </tr>
                                                                </tfoot>

                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-3">
                                                    <input type="submit" value="Save" id="Save" name="Save" class="btn btn-success align right" style="text-align:center" onclick="return SaveValidate();" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                        </div>

                    <input type="hidden" id="TxtValEarning" />
                    <input type="hidden" id="headtypeE" />
                    <input type="hidden" id="TxtAmtEarning" />
                    <input type="hidden" id="TxtValDeduction" />
                    <input type="hidden" id="TxtAmtDeduction" />
                    <input type="hidden" id="headtypeD" />
                    <input type="hidden" id="hdTotalEarning" />
                    <input type="hidden" id="hdTotalEarning1" />

            }

        </div>
    </div>
    
}


<script src="~/assets/js/jquery1-3.4.1.min.js"></script>
<script>

    function validateform() {

        $(".errortext").removeClass("errortext");

        if ($('#EmployeeName').val() == '' && $('#EmployeeCode').val() == '') {
            alert("Please fill any of one of the fields  .")
            return false;
        }

        return true;
    }

    function SaveValidate() {
        $(".errortext").removeClass("errortext");

        if (document.getElementById("txtEarVal 1").value == '') {
            alert("Please fill Basic Salary .")
            return false;
        }
        if ((Number)(document.getElementById("txtTotalEarning").value) < (Number)(document.getElementById("txtTotalDeduction").value)) {
            alert("Earning should be greater than deduction");
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        //alert("Called");
        document.getElementById("hdTotalEarning").value = 0;
        document.getElementById("hdTotalEarning1").value = 0;
    });

    function getdata1(earningval, IsAmtPer, i) {
        $('#TxtValEarning').val(earningval.value);
        $('#headtypeE').val(IsAmtPer);
        var totalEarning = 0;
        var oldTotalEarning = document.getElementById("hdTotalEarning").value;

        if (IsAmtPer == 'A') {
            totalEarning = (Number)(oldTotalEarning) + (Number)(earningval.value);
            document.getElementById("txtEarAmt " + i).value = earningval.value;
        }
        else {
            var basic = document.getElementById("txtEarVal 1").value;
            document.getElementById("txtEarAmt " + i).value = ((Number)(basic) * (Number)(earningval.value) / 100).toString();
            totalEarning = (Number)(oldTotalEarning) + ((Number)(basic) * (Number)(earningval.value) / 100);
        }
        document.getElementById("hdTotalEarning").value = totalEarning;
        $("#txtTotalEarning").val(totalEarning);

    }

    function getdata3(dedval, IsAmtPer, i) {
        $('#TxtValDeduction').val(dedval.value);
        $('#headtypeD').val(IsAmtPer);
        var totalEarning = 0;
        var oldTotalEarning = document.getElementById("hdTotalEarning1").value;

        if (IsAmtPer == 'A') {
            document.getElementById("txtDedAmt " + i).value = dedval.value;
            totalEarning = (Number)(oldTotalEarning) + (Number)(dedval.value);
        }
        else {
            var basic = document.getElementById("txtEarVal 1").value;
            document.getElementById("txtDedAmt " + i).value = ((Number)(basic) * (Number)(dedval.value) / 100).toString();
            totalEarning = (Number)(oldTotalEarning) + ((Number)(basic) * (Number)(dedval.value) / 100);
        }
        document.getElementById("hdTotalEarning1").value = totalEarning;
        $("#txtTotalDeduction").val(totalEarning);
    }

    function getdata2(earningamt) {
        $('#TxtAmtEarning').val(earningamt.value);
    }
    function getdata4(dedamt) {
        $('#TxtAmtDeduction').val(dedamt.value);
    }

</script>