@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "SalaryHead";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("SalaryHead", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Salary Head</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-lg-flex justify-content-between">
                        <h4 class="card-title">Salary Head</h4>
                        <p style="color: #ff0000">
                            @TempData["SallaryHeadtmsg"]
                        </p>
                        <p style="color: red">
                            @TempData["ErrSallaryHeadtmsg"]
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label"><h5>Salary Head Code <span class="text-danger">*</span></h5></label>
                                @Html.TextBoxFor(m => m.SalaryHeadCode, new { @class = "form-control", @Placeholder = "Salary Head Code" })
                                @Html.HiddenFor(m => m.PK_SalaryHeadID)
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label"><h5>Salary Head Name<span class="text-danger">*</span></h5></label>
                                @Html.TextBoxFor(m => m.SalaryHeadName, new { @class = "form-control", @Placeholder = "Salary Head Name" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>Head Nature <span class="text-danger">*</span></h5></label>
                                @Html.DropDownListFor(m => m.HeadNature, new SelectList(ViewBag.ddlHeadNature, "Value", "Text"), new { @class = "form-control form-select default-select" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="inputPassword4"><h5>Amount And Persent<span class="text-danger">*</span></h5></label>
                                @Html.DropDownListFor(m => m.AmountPersent, new SelectList(ViewBag.ddlAmtPer, "Value", "Text"), new { @class = "form-control default-select" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="inputEmail4"><h5>Remark</h5></label>
                                @Html.TextAreaFor(m => m.RemarkSalaryHead, new { @class = "form-control", @Placeholder = "Remark", @rows = "5", @cols = "10" })
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label d-block"><h5>&nbsp;</h5></label>
                                @if (Model.PK_SalaryHeadID == null)
                                {
                                    <input type="submit" class="btn btn-success" id="btnsave" onclick="return validateform();" name="btnsave" value="save" />
                                }
                                else
                                {

                                    <input type="submit" class="btn btn-success" onclick="return validateform();" id="btnupdate" name="btnupdate" value="update" />
                                }
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}

<script>
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#SalaryHeadCode').val() == '') {
            $("#SalaryHeadCode").addClass('errortext');
            $('#SalaryHeadCode').focus();
            return false;
        }

        if ($('#SalaryHeadName').val() == '') {
            $("#SalaryHeadName").addClass('errortext');
            $('#SalaryHeadName').focus();
            return false;
        }

        $(".errortext").removeClass("errortext");
        if ($('#HeadNature').val() == '0') {
            $("#HeadNature").addClass('errortext');
            $('#HeadNature').focus();
            return false;
        }

        if ($('#AmountPersent').val() == '0') {
            $("#AmountPersent").addClass('errortext');
            $('#AmountPersent').focus();
            return false;
        }


        return true;
    }
</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>